.container{
    margin-bottom: 80px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: orangered;
}
.buy-now-button{
    color: white;
background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
border: none;
padding: 9px 25px;
border-radius: 8px;
}